@charset "UTF-8";

/* 
    Devices breakpoints
    tablet:768px a 992px
    desktop: 992px a 1200px
    telas grandes: 1200px pra cima
*/

@media screen and (min-width: 768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top,#49a09d, #5f2c82 );
        height: 100vh;
    }

    section#login{
    width: 80vw;
    height: 260px;
    }

    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formu{
        float: right;
        width: 70%;
        height: 100%;
        text-align: justify;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px){
    body{
        background-image: linear-gradient(to top,#49a09d, #5f2c82 );
    }

    section#login{
        width: 950px;
        height: 260px;
        }

    section#login > div#img{
        float: left;
        width: 50%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formu{
        float: right;
        width: 50%;
        height: 100%;
        text-align: justify;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: linear-gradient(to top,#49a09d, #5f2c82 );
    }

    section#login{
        width: 1100px;
        height: 320px;
        }

    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center center;
    }
    section#login > div#formu{
        float: left;
        width: 50%;
        height: 100%;
        text-align: justify;
    }

    div#formu > h1{
        font-size: 2em;
    }

    div#formu > p{
        font-size: 1em;
        margin: 20px 0px;
    }
}